Repository microsoft/Windows-driver-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/driver-samples-maintainers, @microsoft/windowsaudio, @microsoft/bluetooth, @microsoft/cameraplatdev, @microsoft/cellcore, @microsoft/connection-awareness, @microsoft/corenetworking, @microsoft/consumer-storage, @microsoft/device-enumeration-and-interconnect, @microsoft/display-kernel-devs, @microsoft/windows-driver-developers-supplemental-tools-admins, @microsoft/ee-devs, @microsoft/etw, @microsoft/filesystems, @microsoft/filter-manager, @microsoft/kernel-core, @microsoft/network-driver-platform, @microsoft/netsec, @microsoft/platform-integrity, @microsoft/pnp, @microsoft/core-print, @microsoft/sensors-platform, @microsoft/storage-core, @microsoft/coreos-buses-and-wdf, @microsoft/winiotdev, @microsoft/wi-fi-core

.github/CODEOWNERS:

# GitHub configuration
/.github/ @microsoft/driver-samples-maintainers

# Code Scanning workflow
/.github/workflows/Code-Scanning.yml @microsoft/driver-samples-maintainers

# Root files
/* @microsoft/driver-samples-maintainers

# Windows Implementation Library submodule
/wil/ @microsoft/driver-samples-maintainers

# Audio
/audio/ @microsoft/windowsaudio

# Bluetooth
/bluetooth/ @microsoft/bluetooth

# Camera Platform
/avstream/ @microsoft/cameraplatdev
/general/SimpleMediaSource/ @microsoft/cameraplatdev

# Cellular Core
/network/wwan/ @microsoft/cellcore
/nfc/ @microsoft/cellcore

# Connection Awareness
/gnss/ @microsoft/connection-awareness
/network/radio/ @microsoft/connection-awareness

# Core Networking
/network/wsk/ @microsoft/corenetworking

# Consumer Storage
/sd/ @microsoft/consumer-storage
/smartcrd/ @microsoft/consumer-storage

# Device Enumeration and Interconnect
/gpio/ @microsoft/device-enumeration-and-interconnect
/pofx/PEP/ @microsoft/device-enumeration-and-interconnect
/prm/ @microsoft/device-enumeration-and-interconnect
/wmi/wmiacpi/ @microsoft/device-enumeration-and-interconnect
/general/SystemDma/ @microsoft/device-enumeration-and-interconnect

# Display Kernel
/video/ @microsoft/display-kernel-devs

# Driver Development Supplemental Tools
/tools/ @microsoft/windows-driver-developers-supplemental-tools-admins

# Energy Efficiency
/pofx/WDF/ @microsoft/ee-devs
/powerlimit/ @microsoft/ee-devs
/simbatt/ @microsoft/ee-devs
/thermal/ @microsoft/ee-devs

# Event Tracing for Windows
/general/perfcounters/ @microsoft/etw
/general/tracing/ @microsoft/etw

# File Systems
/filesys/cdfs/ @microsoft/filesystems
/filesys/fastfat/ @microsoft/filesystems

# Filter Manager
/filesys/miniFilter/ @microsoft/filter-manager

# Kernel Core
/general/cancel/ @microsoft/kernel-core
/general/event/ @microsoft/kernel-core
/general/registry/ @microsoft/kernel-core

# Network Driver Platform
/network/config/ @microsoft/network-driver-platform
/network/modem/ @microsoft/network-driver-platform
/network/ndis/ @microsoft/network-driver-platform

# Network Security
/network/trans/ @microsoft/netsec

# Platform Integrity
/security/ @microsoft/platform-integrity
/TrEE/ @microsoft/platform-integrity

# PnP
/general/DCHU/ @microsoft/pnp
/setup/ @microsoft/pnp

# Print
/print/ @microsoft/core-print
/wia/ @microsoft/core-print

# Sensors Platform
/sensors/ @microsoft/sensors-platform

# Storage
/storage/ @microsoft/storage-core

# Windows Driver Framework (WDF) samples
/general/echo/ @microsoft/coreos-buses-and-wdf
/general/ioctl/ @microsoft/coreos-buses-and-wdf
/general/pcidrv/ @microsoft/coreos-buses-and-wdf
/general/PLX9x5x/ @microsoft/coreos-buses-and-wdf
/general/toaster/ @microsoft/coreos-buses-and-wdf
/hid/ @microsoft/coreos-buses-and-wdf
/input/ @microsoft/coreos-buses-and-wdf
/pofx/UMDF2/ @microsoft/coreos-buses-and-wdf
/serial/ @microsoft/coreos-buses-and-wdf
/spb/ @microsoft/coreos-buses-and-wdf
/usb/ @microsoft/coreos-buses-and-wdf
/wmi/wmisamp/ @microsoft/coreos-buses-and-wdf

# Windows Internet of Things
/pos/ @microsoft/winiotdev

# Wi-Fi Core
/network/wlan/ @microsoft/wi-fi-core

Upgrade NuGet to 10.0.26100.2 pre
  Directory.Build.props
  packages.config
Owners: @microsoft/driver-samples-maintainers

Update to use winget for sdk instead of visual studio component. Update path for vsix
  configuration.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Upgrade NuGet to 10.0.26100
  Directory.Build.props
  packages.config
Owners: @microsoft/driver-samples-maintainers

update configuration.dsc.yaml to account for different architectures
  configuration.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Upgrade NuGet to 10.0.26100.1
  Directory.Build.props
  packages.config
Owners: @microsoft/driver-samples-maintainers

Update to use winget for sdk instead of visual studio component. Update path for vsix
  configuration.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

update configuration.dsc.yml for 26100
  configuration.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

update configuration.dsc.yaml to account for different architectures
  configuration.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Update Building-Locally.md
  Building-Locally.md
Owners: @microsoft/driver-samples-maintainers

Update Building-Locally.md
  Building-Locally.md
Owners: @microsoft/driver-samples-maintainers

Upgrade NuGet to 26100.1 (#1162)
  Build-SampleSet.ps1
  Building-Locally.md
  Directory.Build.props
  packages.config
Owners: @microsoft/driver-samples-maintainers

develop to main (#1171)
  Build-SampleSet.ps1
  Building-Locally.md
  Directory.Build.props
  hid/firefly/sauron/Sauron.cpp
  hid/hclient/ecdisp.c
  packages.config
Owners: @microsoft/driver-samples-maintainers, @microsoft/coreos-buses-and-wdf

update configuration_vsonly.dsc.yaml for 26100
  configuration_vsonly.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

remove winget install of sdk from configuration_vsonly.dsc.yaml
  configuration_vsonly.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Issue of freeing memory without waiting completion of threads accessing it is fixed
  filesys/miniFilter/scanner/user/scanUser.c
Owners: @microsoft/filter-manager

Added: - Microsoft.Net.Component.4.7.2.TargetingPack - Microsoft.Net.Component.4.8.1.SDK To: configuration.dsc.yaml configuration_vsonly.dsc.yaml
  configuration.dsc.yaml
  configuration_vsonly.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Update README.md
  general/toaster/toastDrv/README.md
Owners: @microsoft/coreos-buses-and-wdf

FASTFAT: Remove erroneous comment
  filesys/fastfat/fsctrl.c
Owners: @microsoft/filesystems

Fixes information leakage warning
  filesys/miniFilter/scanner/user/scanUser.c
Owners: @microsoft/filter-manager

Avoids possible multiplication overflow warning
  filesys/miniFilter/scanner/user/scanUser.c
Owners: @microsoft/filter-manager

50256705
  powerlimit/plpolicy/plpolicy.sln
Owners: @microsoft/ee-devs

Avoids possible multiplication overflow warning
  filesys/miniFilter/scanner/user/scanUser.c
Owners: @microsoft/filter-manager

Changed CI pipeline to use nuget
  .github/scripts/Env-Vars.ps1
  .github/scripts/Install-Vsix.ps1
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
Owners: @microsoft/driver-samples-maintainers

Fix typo
  .github/scripts/Install-Vsix.ps1
Owners: @microsoft/driver-samples-maintainers

Change to test partial build
  general/echo/kmdf/driver/AutoSync/echo.inx
Owners: @microsoft/coreos-buses-and-wdf

Test code scanning
  .github/workflows/Code-Scanning.yml
Owners: @microsoft/driver-samples-maintainers

Test speedup with force shutdown when quiet
  .github/scripts/Install-Vsix.ps1
Owners: @microsoft/driver-samples-maintainers

Trigger a change build only
  input/kbfiltr/sys/kbfiltr.inx
Owners: @microsoft/coreos-buses-and-wdf

Optimize vsix install
  .github/scripts/Install-Vsix.ps1
  .github/workflows/Code-Scanning.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
Owners: @microsoft/driver-samples-maintainers

Trigger a change build
  sensors/Fusion/FusionSensor.inx
Owners: @microsoft/sensors-platform

Feedback updates
  .github/scripts/Env-Vars.ps1
  .github/scripts/Install-Vsix.ps1
  Build-SampleSet.ps1
  Env-Vars.ps1
Owners: @microsoft/driver-samples-maintainers

Integrate nuget into the workflow pipelines
  .github/scripts/Install-Vsix.ps1
  .github/workflows/Code-Scanning.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
  Env-Vars.ps1
Owners: @microsoft/driver-samples-maintainers

Fix text and minor issues in Winget configuration files
  configuration.dsc.yaml
  configuration_vsonly.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

simbatt: Clear BATTERY_CAPACITY_RELATIVE field
  simbatt/func/miniclass.c
Owners: @microsoft/ee-devs

Firefly: Configure Inf2Cat to use local time with Inf2CatUseLocalTime
  hid/firefly/driver/firefly.vcxproj
Owners: @microsoft/coreos-buses-and-wdf

moufiltr: Mirror mouse movement
  input/moufiltr/moufiltr.c
Owners: @microsoft/coreos-buses-and-wdf

Remove UMDF references from toastDrv readme
  general/toaster/toastDrv/README.md
Owners: @microsoft/coreos-buses-and-wdf

Firefly driver: Postpone variable definitions until first use
  hid/firefly/driver/device.c
  hid/firefly/driver/driver.c
  hid/firefly/driver/vfeature.c
  hid/firefly/driver/wmi.c
Owners: @microsoft/coreos-buses-and-wdf

Flicker app: Postpone variable definitions until first use
  hid/firefly/app/firefly.cpp
Owners: @microsoft/coreos-buses-and-wdf

Replace new with std::make_unique and std::unique_ptr for RAII-based memory mgmt.
  hid/firefly/app/firefly.cpp
Owners: @microsoft/coreos-buses-and-wdf
