Repository microsoft/Windows-driver-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/driver-samples-maintainers, @microsoft/windowsaudio, @microsoft/bluetooth, @microsoft/cameraplatdev, @microsoft/cellcore, @microsoft/connection-awareness, @microsoft/corenetworking, @microsoft/consumer-storage, @microsoft/device-enumeration-and-interconnect, @microsoft/display-kernel-devs, @microsoft/windows-driver-developers-supplemental-tools-admins, @microsoft/ee-devs, @microsoft/etw, @microsoft/filesystems, @microsoft/filter-manager, @microsoft/kernel-core, @microsoft/network-driver-platform, @microsoft/netsec, @microsoft/platform-integrity, @microsoft/pnp, @microsoft/core-print, @microsoft/sensors-platform, @microsoft/storage-core, @microsoft/coreos-buses-and-wdf, @microsoft/winiotdev, @microsoft/wi-fi-core

.github/CODEOWNERS:

# GitHub configuration
/.github/ @microsoft/driver-samples-maintainers

# Code Scanning workflow
/.github/workflows/Code-Scanning.yml @microsoft/driver-samples-maintainers

# Root files
/* @microsoft/driver-samples-maintainers

# Windows Implementation Library submodule
/wil/ @microsoft/driver-samples-maintainers

# Audio
/audio/ @microsoft/windowsaudio

# Bluetooth
/bluetooth/ @microsoft/bluetooth

# Camera Platform
/avstream/ @microsoft/cameraplatdev
/general/SimpleMediaSource/ @microsoft/cameraplatdev

# Cellular Core
/network/wwan/ @microsoft/cellcore
/nfc/ @microsoft/cellcore

# Connection Awareness
/gnss/ @microsoft/connection-awareness
/network/radio/ @microsoft/connection-awareness

# Core Networking
/network/wsk/ @microsoft/corenetworking

# Consumer Storage
/sd/ @microsoft/consumer-storage
/smartcrd/ @microsoft/consumer-storage

# Device Enumeration and Interconnect
/gpio/ @microsoft/device-enumeration-and-interconnect
/pofx/PEP/ @microsoft/device-enumeration-and-interconnect
/prm/ @microsoft/device-enumeration-and-interconnect
/wmi/wmiacpi/ @microsoft/device-enumeration-and-interconnect
/general/SystemDma/ @microsoft/device-enumeration-and-interconnect

# Display Kernel
/video/ @microsoft/display-kernel-devs

# Driver Development Supplemental Tools
/tools/ @microsoft/windows-driver-developers-supplemental-tools-admins

# Energy Efficiency
/pofx/WDF/ @microsoft/ee-devs
/powerlimit/ @microsoft/ee-devs
/simbatt/ @microsoft/ee-devs
/thermal/ @microsoft/ee-devs

# Event Tracing for Windows
/general/perfcounters/ @microsoft/etw
/general/tracing/ @microsoft/etw

# File Systems
/filesys/cdfs/ @microsoft/filesystems
/filesys/fastfat/ @microsoft/filesystems

# Filter Manager
/filesys/miniFilter/ @microsoft/filter-manager

# Kernel Core
/general/cancel/ @microsoft/kernel-core
/general/event/ @microsoft/kernel-core
/general/registry/ @microsoft/kernel-core

# Network Driver Platform
/network/config/ @microsoft/network-driver-platform
/network/modem/ @microsoft/network-driver-platform
/network/ndis/ @microsoft/network-driver-platform

# Network Security
/network/trans/ @microsoft/netsec

# Platform Integrity
/security/ @microsoft/platform-integrity
/TrEE/ @microsoft/platform-integrity

# PnP
/general/DCHU/ @microsoft/pnp
/setup/ @microsoft/pnp

# Print
/print/ @microsoft/core-print
/wia/ @microsoft/core-print

# Sensors Platform
/sensors/ @microsoft/sensors-platform

# Storage
/storage/ @microsoft/storage-core

# Windows Driver Framework (WDF) samples
/general/echo/ @microsoft/coreos-buses-and-wdf
/general/ioctl/ @microsoft/coreos-buses-and-wdf
/general/pcidrv/ @microsoft/coreos-buses-and-wdf
/general/PLX9x5x/ @microsoft/coreos-buses-and-wdf
/general/toaster/ @microsoft/coreos-buses-and-wdf
/hid/ @microsoft/coreos-buses-and-wdf
/input/ @microsoft/coreos-buses-and-wdf
/pofx/UMDF2/ @microsoft/coreos-buses-and-wdf
/serial/ @microsoft/coreos-buses-and-wdf
/spb/ @microsoft/coreos-buses-and-wdf
/usb/ @microsoft/coreos-buses-and-wdf
/wmi/wmisamp/ @microsoft/coreos-buses-and-wdf

# Windows Internet of Things
/pos/ @microsoft/winiotdev

# Wi-Fi Core
/network/wlan/ @microsoft/wi-fi-core

[Toaster] Update notify, toast & Enum project GUID references
  general/toaster/toastDrv/toaster.sln
Owners: @microsoft/coreos-buses-and-wdf

Rename "dynambus" to "dynamicbus"
  general/toaster/toastDrv/Package/package.VcxProj
  general/toaster/toastDrv/kmdf/bus/dynamic/busenum.rc
  general/toaster/toastDrv/kmdf/bus/dynamic/dynambus.inx
  general/toaster/toastDrv/kmdf/bus/dynamic/dynamicbus.inx
  general/toaster/toastDrv/kmdf/bus/dynamic/dynamicbus.vcxproj
  general/toaster/toastDrv/kmdf/bus/dynamic/dynamicbus.vcxproj.Filters
  general/toaster/toastDrv/toaster.sln
Owners: @microsoft/coreos-buses-and-wdf

fix wrong referenced context in transaction processing
  filesys/miniFilter/avscan/filter/avscan.c
Owners: @microsoft/filter-manager

simbatt: Provide instructions for how to test the driver
  simbatt/README.md
Owners: @microsoft/ee-devs

CI Pipelines build with WDK Nuget Packages (#1179)
  .github/scripts/Install-Vsix.ps1
  .github/workflows/Code-Scanning.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
  Env-Vars.ps1
Owners: @microsoft/driver-samples-maintainers

FI from main to develop (#1188)
  configuration.dsc.yaml
  configuration_vsonly.dsc.yaml
Owners: @microsoft/driver-samples-maintainers

Improve version info, vsix installation, and update building locally readme
  .github/scripts/Install-Vsix.ps1
  Build-SampleSet.ps1
  Building-Locally.md
  Env-Vars.ps1
Owners: @microsoft/driver-samples-maintainers

Fix printing vsix version
  Build-SampleSet.ps1
Owners: @microsoft/driver-samples-maintainers

Update avscamera.inx
  avstream/avscamera/sys/avscamera.inx
Owners: @microsoft/cameraplatdev

Refactored vsix install and cleaned up build sampleset
  .github/scripts/Install-Vsix.ps1
  .github/workflows/Code-Scanning.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
Owners: @microsoft/driver-samples-maintainers

RI develop to main (#1189)
  .github/scripts/Install-Vsix.ps1
  .github/workflows/Code-Scanning.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  Build-SampleSet.ps1
  Building-Locally.md
  filesys/miniFilter/scanner/user/scanUser.c
  simbatt/func/miniclass.c
Owners: @microsoft/driver-samples-maintainers, @microsoft/filter-manager, @microsoft/ee-devs
